{% extends 'layout.html.twig' %}




{% block content %}



    <table width="300" style="text-align: center">
        <tr>
            <td width="300" style="text-align: center" colspan="2"><h2>Administration</h2></td>

        </tr>
        <tr>
            <td height="40"></td>
            <td></td>
        </tr>
        <tr>
            <td width="150"><a class="btn btn-primary" href="{{ path('users_index') }}">Utilisateurs</a></td>
            <td width="150"><a class="btn btn-danger" style="width: 100px" href="{{ path('projets_index') }}">Projets</a></td>
        </tr>
        <tr>
            <td height="50"></td>
        </tr>

    </table>

    <br>
    <hr>
    <br>

    <table width="300" style="text-align: center">
        <thead>
        <th colspan="3" style="text-align: center">
            <b>Questionnaire de création de projet</b>
        </th>
        </thead>
        <tbody>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td width="100"><a class="btn btn-success" href="{{ path('utilisation_index') }}">Utilisations</a></td>
            <td width="100"><a class="btn btn-info" href="{{ path('support_index') }}">Supports</a></td>
            <td width="100"><a class="btn btn-warning" href="{{ path('diffusion_index') }}">Diffusions</a></td>
        </tr>
        </tbody>
    </table>

    <br>
    <hr>
    <br>

    <table width="300" style="text-align: center">
        <thead>
        <th colspan="3" style="text-align: center">
            <b>Questionnaire de création de script</b>
        </th>
        </thead>
        <tbody>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td width="300"><a class="btn btn-success" href="{{ path('scriptquestion_index') }}">Questions</a></td>
        </tr>
        </tbody>
    </table>







{% endblock content %}