<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        Bump{% block title %}{% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Yanone+Kaffeesatz:200" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/appli/css/main.css') }}" type="text/css" media="all" />
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png')}}">
</head>
<body>






{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}


{% if is_granted("ROLE_USER") %}
    <aside>

        <div class="asideleft">
            <a href="{{ path('index') }}">
                <img class="menulogo" src="{{ asset('images/bumplogo-white.png')}}" alt="Logo Bump"></a>
        </div>

        <div class="asideleft">
            <div class="txt-center fine">Bonjour <a href="{{ path('fos_user_profile_show') }}">{{ app.user.prenom }}</a> ! </div>
            <div class="txt-center fine"><a class="deconnexion" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></div>



        </div>




        {% block aside %}
        {% endblock %}




            {% if is_granted("ROLE_ADMIN") %}
                <br>
                <div class="txt-center"><a href="{{ path('admin_index') }}">Administration</a></div>
            {% endif %}
        </div>



        <div class="asideleft mentions">
            <div class="txt-center fine petite">Copyright © 2017 Diaphonics</div>
            <div class="txt-center fine petite">●</div>
            <div class="txt-center fine petite">Studio Bump</div>
            <div class="txt-center fine petite">●</div>
            <div class="txt-center fine petite">Contact</div>
            <div class="txt-center fine petite">●</div>
            <div class="txt-center fine petite">Mentions Légales</div>

        </div>
    </aside>
        {% else %}
            <header>
                <div class="headerlogo">
                    <img src="{{ asset('images/bumplogo.png')}}" alt="Logo Bump">
                </div>
            </header>
        {% endif %}










<main>


    {#<div class="connection">#}
        {#<div class="conn-top"></div>#}
        {#<div class="conn-middle">#}
            {% block connection %}
            {% endblock %}
        {#</div>#}
        {#<div class="conn-bottom"></div>#}


    {#</div>#}



    <div class="large">
        {% block body %}
        {% endblock %}
    </div>
    {#<div class="midsize">#}
        {#{% block contentlarge %}#}
        {#{% endblock %}#}
    {#</div>#}

    {#<aside class="asideright">#}
        {#{% block asideright %}#}
        {#{% endblock %}#}

    {#</aside>#}



</main>

{% if is_granted("ROLE_USER") %}

{% else %}
<footer>Copyright © 2017 Diaphonics <span>●</span> Studio Bump <span>●</span> Contact <span>●</span> Mentions Légales
</footer>
{% endif %}
</body>



</html>
