<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} - Studio Bump {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
    <link rel="stylesheet" href="{{ asset('bundles/Appli/css/main.css') }}" type="text/css" media="all" />

</head>
<body>

<header>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    Connecté en tant que <b>{{ app.user.username }}</b>
        - Vous êtes un ....
        <a href="{{ path('fos_user_profile_show') }}">Profil</a><span> |</span>
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a><span> |</span>
        <a href="{{ path('projet_index') }}">Projets</a><span> |</span>
        {#<a href="{{ path('expert_control') }}">Expert</a><span> |</span>#}
        {#<a href="{{ path('contributeur_control') }}">Contributeur</a><span> |</span>#}
        {#<a href="{{ path('admin_control') }}">Administrateur</a>#}


    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a><span> |</span>
        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
    {% endif %}



    <hr>

</header>
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

<div>
    {% block content %}
    {% endblock %}
</div>

<div>
    {% block body %}
    {% endblock %}
</div>

</body>
</html>
