{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Types de support</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Types proposés :</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td>{{ support.supportType }}</td>
                <td><td><a class="btn-modifier" href="{{ path('support_edit', { 'id': support.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><td><a class="btn-delete" href="{{ path('support_delete', { 'id': support.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('support_new') }}">Nouveau</a>

    <a class="btn btn-default" href="{{ path('admin_index') }}">Retour</a>

{% endblock %}
