{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Types de métiers</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Métiers :</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for expertType in expertTypes %}


            <tr>
                <td>{{ expertType.type }}</td>
                <td><a class="btn-modifier" href="{{ path('experttype_edit', { 'id': expertType.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a class="btn-delete" href="{{ path('experttype_delete', { 'id': expertType.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('experttype_new') }}">Nouveau</a>

    <a class="btn btn-success" href="{{ path('conseiltype_index') }}">Types de conseils</a>
    <a class="btn btn-default" href="{{ path('admin_index') }}">Retour</a>
{% endblock %}
