{% extends 'layout.html.twig' %}

{% block ariane %}



{% endblock %}

{% block left %}
<div class="ib leftprojet">

<div class="leftprojet-top">

        <div class="txt-center">
            <div class="ib imground">
                <img src="{{ asset('images/idea.png')}}" alt="Nouveau Projet">
            </div>
            <div>
                <h3 class="ib hand">Modifiez votre projet</h3>
            </div>

        </div>

</div>
    <div class="leftprojet-photo">
        <img src="{{ asset('images/pic5.jpg')}}" alt="Nouveau Projet">
    </div>
    <div class="leftprojet-bottom">
        <div class="fine petite"> Créez votre projet, renseignez les types de supports, les types diffusions, les types d'utilisations.
                Vous pouvez aussi indiquer pour quand votre projet est prévu ainsi que sa surée dans le temps.
                Toutes ces données nous permettront de calculer les droits et le montant approximatif de votre projet.



            </div>
        </div>



</div>

{% endblock %}

{% block right %}

   <div class="ib rightprojet-new-edit">



    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

<button class="btn-iconflat" type="submit" value="Enregistrer">
    <table class="tab-buttons shadow back-projet">
        <td>
            <div class="lightgrey">Enregistrer</div>
        </td>
        <td>
         <img src="{{ asset('images/save-file-option.png')}}" alt="Enregistrer" height="19">
        </td>
    </table>
</button>






    {{ form_end(edit_form) }}



</div>



{% endblock %}

