{% extends 'layout.html.twig' %}

{% block body %}


    <h1>Vos Projets</h1>



    <table class="table table-striped">
        <thead>
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                <th>Utilisateur</th>
                {% endif %}
                <th>Nom</th>
                <th>Créé le </th>
                <th>Dernière modification</th>
                <th>Support</th>
                <th>Diffusion</th>
                <th>Utilisation</th>
                <th>Temps de diffusion</th>
                <th>Montant HT</th>
                <th>Datediffusion</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}


            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>{{ projet.utilisateur.username }}</th>
                {% endif %}
                <td>{{ projet.nomProjet }}</td>

                <td>{% if projet.dateCreation %}{{ projet.dateCreation|date('d/m/Y \\à\\ H\\hi') }}{% endif %}</td>
                <td>{% if projet.dateModification %}{{ projet.dateModification|date('d/m/Y \\à\\ H\\hi') }}{% endif %}</td>

                <td><ul>
                        {% set arraySupport = projet.support.getValues %}
                        {% for support in arraySupport %}
                            <li>
                                {{ support.supportType }}
                            </li>
                        {% endfor %}
                    </ul></td>
                <td><ul>
                        {% set arrayDiffusion = projet.diffusion.getValues %}
                        {% for diffusion in arrayDiffusion %}
                            <li>
                                {{ diffusion.diffusionType }}
                            </li>
                        {% endfor %}
                    </ul></td>
                <td><ul>
                        {% set arrayUtilisation = projet.utilisation.getValues %}
                        {% for utilisation in arrayUtilisation %}
                            <li>
                                {{ utilisation.utilisationType }}
                            </li>
                        {% endfor %}
                    </ul></td>

                <td>{{ projet.tempsDiffusion }} an(s)</td>
                <td>{% if projet.tarif %}{{ projet.tarif }}{% else %}-{% endif %} €</td>
                <td>{% if projet.dateDiffusion %}{{ projet.dateDiffusion|date('d/m/Y') }}{% endif %}</td>
                <td style="text-align: center"><a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id }) }}">
                        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Modifier projet" height="50"><h5 style="color: #ff5419">Modifier le projet</h5></a></td>

                <td style="text-align: center">{% if projet.script %}<a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,}) }}">
                        <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="50"><h5 style="color: #34495e">Accéder au script</h5></a>
                    {% else %}<a href="{{ path('script_index', {'id':app.user.id, 'projet': projet.id,}) }}">
                        <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="50"><h5 style="color: #34495e">Ecrire le script</h5></a>{% endif %}</td>

                <td style="text-align: center">{% if projet.storyboard %}Accéder au storyboard{% else %}
                        <img class="imgflat" src="{{ asset('images/play-video.png')}}" alt="Storyboard" height="50"><h5 style="color: #9db138">Créer le storyboard</h5>{% endif %}</td>

                <td style="text-align: center"><a href="{{ path('projet_delete', {'id':app.user.id, 'projet': projet.id }) }}">
                        <img class="imgflat" src="{{ asset('images/garbage.png')}}" alt="Modifier projet" height="50"><h5 style="color: #34495e">Supprimer le projet</h5></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block content %}

    <div style="text-align: center">
        <a href="{{ path('projet_new', {'id': app.user.id }) }}">
            <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Nouveau Projet" height="100"><h4 style="color: #ff5419">Nouveau projet</h4></a>



    </div>





{% endblock %}
