{% extends 'layout.html.twig' %}




{% block body %}

    <a href="{{ path('projet_new', {'id': app.user.id }) }}">
    <table>
        <td>
            <img class="imgflat ib" src="{{ asset('images/file.png')}}" alt="Nouveau Projet" height="35">
        </td>
       <td>
           <h3 class="grey ib">Créer un nouveau projet</h3>
       </td>

    </table>
    </a>



    <table class="title-tab">
        <td class="padding-ten projet"><h3>Vos projets</h3></td>
    </table>



{% for projet in projets %}

    <table style="width:100%">
            <tr>
               <td>
                    <div>

                       <h4 class="ib sub-txt-big projet">{{ projet.nomProjet }}</h4>


                        <div class="ib">
                            <div class="ib sub-txt-small grey">
                                Créé le :
                            </div>
                            <div class="ib sub-txt-small projet">
                                {{ projet.dateCreation.date|date('d/m/Y') }}
                            </div>

                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="ib sub-txt-small grey">
                                    par
                                </div>
                                <div class="ib sub-txt-small projet">
                                    {{ projet.utilisateur.prenom }} {{ projet.utilisateur.nom}} ({{ projet.utilisateur.username }})
                                </div>
                            {% endif %}
                        </div>

                        <div>
                            <div class="ib sub-txt-small grey">
                                Supports :
                            </div>
                            {% set arraySupport = projet.support.getValues %}
                            {% for support in arraySupport %}
                                <div class="ib  sub-txt-small projet bord-droit">
                                    {{ support.supportType }}
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <div class="ib sub-txt-small grey">
                                Diffusion :
                            </div>
                            {% set arrayDiffusion = projet.diffusion.getValues %}
                            {% for diffusion in arrayDiffusion %}
                                <div class="ib  sub-txt-small projet bord-droit">
                                    {{ diffusion.diffusionType }}
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <div class="ib sub-txt-small grey">
                                Utilisation :
                            </div>
                            {% set arrayUtilisation = projet.utilisation.getValues %}
                            {% for utilisation in arrayUtilisation %}
                                <div class="ib  sub-txt-small projet bord-droit">
                                    {{ utilisation.utilisationType }}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="ib">
                            <div class="ib sub-txt-small grey">
                                Diffusion prévue à partir du
                            </div>
                            <div class="ib  sub-txt-small projet">
                                {{ projet.dateDiffusion.date|date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="ib">
                            <div class="ib sub-txt-small grey">
                                pour
                            </div>
                            <div class="ib  sub-txt-small projet">
                                {{ projet.tempsDiffusion }} an(s).
                            </div>
                        </div>





                    </div>


                </td>
                <td style="text-align: center"><a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : projet.script.id }) }}">
                        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Modifier projet" height="50"><h4 style="color: #ff5419">Modifier le projet</h4></a></td>

                <td style="text-align: center">

                    <a href="{{ path('script_orientation', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
                        <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="50"><h4 style="color: #34495e">Ecrire le script</h4></a>


                <td style="text-align: center">{% if projet.storyboard %}Accéder au storyboard{% else %}
                        <img class="imgflat" src="{{ asset('images/play-video.png')}}" alt="Storyboard" height="50"><h4 style="color: #9db138">Ecrire le storyboard</h4>{% endif %}</td>

                <td style="text-align: center"><a href="{{ path('projet_delete', {'id':app.user.id, 'projet': projet.id, 'script': projet.script.id}) }}">
                        <img class="imgflat" src="{{ asset('images/garbage.png')}}" alt="Modifier projet" height="50"><h4 style="color: #34495e">Supprimer le projet</h4></a></td>

            </tr>
    </table>
    <div class="title-tab"></div>
        {% endfor %}



<br>
<br>


{% endblock %}

