{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Vos Projets</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Créé le </th>
                <th>Dernière modification</th>
                <th>Support</th>
                <th>Diffusion</th>
                <th>Utilisation</th>
                <th>Temps de diffusion</th>
                <th>Datediffusion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.nomProjet }}</a></td>
                <td>{% if projet.dateCreation %}{{ projet.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if projet.dateModification %}{{ projet.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ projet.support }}</td>
                <td>{{ projet.diffusion }}</td>
                <td>{{ projet.utilisation }}</td>
                <td>{{ projet.tempsDiffusion }}</td>
                <td>{% if projet.tarif %}{{ projet.tarif }}{% else %}-{% endif %} €</td>
                <td>{% if projet.dateDiffusion %}{{ projet.dateDiffusion|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_new', {'id': app.user.id }) }}">Créer un nouveau projet</a>
        </li>
    </ul>
{% endblock %}
