{% extends 'layout.html.twig' %}

{% block ariane %}

    <div class="ariane grey">
        <div class="ib fine">PROJETS</div>
        <div class="ib fine petite">Paramètres</div>
        <div class="ib padding-ten fine">></div>
        <div class="ib fine">SCRIPT</div>
        <div class="ib fine petite">Guide</div>
        <div class="ib fine petite">Voix-Off</div>
        <div class="ib fine petite">Ecriture</div>
        <div class="ib padding-ten fine">></div>
        <div class="ib fine">STORYBOARD</div>
        <div class="ib fine petite">Ecriture</div>

    </div>

{% endblock %}

{% block left %}

    <div class="ib largeur-un-quart  leftprojet-new-edit">



            <div class="txt-center">
                <div class="ib imground">
                    <img src="{{ asset('images/light-bulb.png')}}" alt="Nouveau Projet">
                </div>


            </div>





    </div>

{% endblock %}

{% block right %}
<div class="ib largeur-trois-quarts rightprojet-new-edit">

    <table class="title-tab">
        <td class="padding-ten projet hand"><h3>Nouveau projet</h3></td>
    </table>



    {{ form_start(form) }}
        {{ form_widget(form) }}

    <button class="btn-iconflat" type="submit" value="Enregistrer">
        <table class="tab-buttons shadow back-projet">
            <td>
                <div class="lightgrey">Enregistrer</div>
            </td>
            <td>
                <img src="{{ asset('images/save-file-option.png')}}" alt="Enregistrer" height="19">
            </td>
        </table>
    </button>



    {{ form_end(form) }}



{% endblock %}




{% block aside %}

    <div class="largeur-totale txt-center">
        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Script" height="50"><h4 style="color: #ff5419">Projet</h4>
    </div>




    <div class="largeur-totale left-menu actuel">

            <img class="imgflat" src="{{ asset('images/parameters.png')}}" alt="Voix-off" height="30">
            <div class="ib title-txt-petit projet">Paramètres</div>
        </a>
    </div>

    <div class="largeur-totale txt-center padding-ten">

        <div class="title-tab">
        </div>
    </div>




<div>
{% endblock %}