{% extends 'layout.html.twig' %}

{% block content %}


    {{ form_start(form) }}
        {{ form_widget(form) }}

    <table style="width: 100%;">
        <td style="width: 49%; text-align: left;">
            <div style="width: 100px; text-align: center;">
                <a href="{{ path('projet_index', { 'id': app.user.id })  }}">
                    <img class="imgflat" src="{{ asset('images/back.png')}}" alt="Nouveau Projet" height="70"><h4 style="color: #d97077">Retour</h4></a>
            </div>

        </td>
        <td style="width: 49%; text-align: right;">
            <button class="btn-iconflat" type="submit" value="Script">
                <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Nouveau Projet" height="70"><h4 style="color: #34495e">Valider et écrire le script</h4>
            </button>
        </td>

    </table>



    {{ form_end(form) }}



{% endblock %}




{% block aside %}

    <div style="width: 100%; margin-left: 15px; text-align: center">


        <div style="width: 100%; text-align: center">
            <img class="imgflat" src="{{ asset('images/projection.png')}}" alt="Projet" height="100"><h3 style="color: #4ab8a1">Nouveau Projet</h3>
        </div>
        <br>
        <br>
        <br>



    </div>


{% endblock %}