{% extends 'layout.html.twig' %}

{% block content %}

    <table class="title-tab">
        <td class="padding-ten projet"><h3>Votre projet</h3></td>
    </table>



    {{ form_start(form) }}
        {{ form_widget(form) }}

    <div class="padding-ten">
        <div class="ib">
            <button class="btn-iconflat" type="submit" value="Enregistrer">
                <div class="ib enregistrer projet">Enregistrer</div>
                <img class="imgflat" src="{{ asset('images/big-diskette-projet.png')}}" alt="Enregistrer" height="19">
            </button>
        </div>
    </div>



    {{ form_end(form) }}



{% endblock %}




{% block aside %}

    <div class="largeur-totale txt-center">
        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Script" height="50"><h4 style="color: #ff5419">Projet</h4>
    </div>




    <div class="largeur-totale left-menu actuel">

            <img class="imgflat" src="{{ asset('images/parameters.png')}}" alt="Voix-off" height="30">
            <div class="ib title-txt-petit projet">Paramètres</div>
        </a>
    </div>

    <div class="largeur-totale txt-center padding-ten">

        <div class="title-tab">
        </div>
    </div>





{% endblock %}