{% extends 'layout.html.twig' %}

{% block body %}

    {{ dump(projet) }}

    <h1>Projet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if projet.dateCreation %}{{ projet.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if projet.dateModification %}{{ projet.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Support</th>
                {#<td>{{ projet.support }}</td>#}
            </tr>
            <tr>
                <th>Diffusion</th>
                {#<td>{{ projet.diffusion }}</td>#}
            </tr>
            <tr>
                <th>Utilisation</th>
                {#<td>{{ projet.utilisation }}</td>#}
            </tr>
            <tr>
                <th>Tempsdiffusion</th>
                <td>{{ projet.tempsDiffusion }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ projet.tarif }}</td>
            </tr>
            <tr>
                <th>Script</th>
                <td>{{ projet.script }}</td>
            </tr>
            <tr>
                <th>Storyboard</th>
                <td>{{ projet.storyboard }}</td>
            </tr>
            <tr>
                <th>Datediffusion</th>
                <td>{% if projet.dateDiffusion %}{{ projet.dateDiffusion|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_index', { 'id': app.user.id })  }}">Liste des projets</a>
        </li>
        <li>
            <a href="{{ path('projet_edit', { 'id': app.user.id , 'projet': projet.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>



{% endblock %}
