{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Types de diffusion</h1>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Types proposés :</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for diffusion in diffusions %}
            <tr>
                <td>{{ diffusion.diffusionType }}</td>
                <td><a class="btn-modifier" href="{{ path('diffusion_edit', { 'id': diffusion.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a class="btn-delete"  href="{{ path('diffusion_delete', { 'id': diffusion.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('diffusion_new') }}">Nouveau</a>


    <a class="btn btn-default" href="{{ path('admin_index') }}">Retour</a>

{% endblock %}
