{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Diffusion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diffusion.id }}</td>
            </tr>
            <tr>
                <th>Diffusiontype</th>
                <td>{{ diffusion.diffusionType }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diffusion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('diffusion_edit', { 'id': diffusion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
