{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Débutons l'écriture de votre script</h2>

    <h3>Vous pouvez modifier vos réponses :</h3>


    <form  method="post" action="{{ path('script_reponses_edit',{'id':app.user.id, 'projet': projet.id,'script': projet.script})}}">


        {% for reponse in reponses %}

            <div class="form-group">
                <label for="{{ reponse.id }}">{{ reponse.question.question }}</label><br>
                <textarea rows="8" class="form-control" name="{{ reponse.id }}" >{{ reponse.reponse }}</textarea>


            </div>


        {%  endfor %}

        <input class="btn btn-primary" type="submit" value="Continuer" />
    </form>





{% endblock %}
