{% extends 'layout.html.twig' %}


 {% block ariane %}

     <div class="ariane grey">
         <a href="{{ path('projet_index', {'id':app.user.id}) }}">
             <div class="ib fine">PROJETS</div>
         </a>
         <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
             <div class="ib fine petite">Paramètres</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <a href="{{ path('script_orientation', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine">SCRIPT</div>
         </a>
         <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Guide</div>
         </a>
         <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Voix-Off</div>
         </a>
         <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Ecriture</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <div class="ib fine">STORYBOARD</div>
         <div class="ib fine petite">Ecriture</div>

     </div>

 {% endblock %}

{% block left %}


<div class="ib largeur-trois-quarts">


<table class="title-tab">
        <td class="padding-ten script-questions"><h3>Afin d'écrire votre script, répondez aux questions suivantes</h3></td>
    </table>




    <form>


        {% for reponse in reponses %}

        <div class="padding-ten">
            <div class="largeur-totale title-txt-petit script-questions">{{ reponse.question.question }}</div>

                <label for="{{ reponse.id }}"></label><br>
                <textarea placeholder="Entrez votre réponse..." rows="6" class="questionnaire" name="{{ reponse.id }}">{{ reponse.reponse }}</textarea>


            </div>


        {%  endfor %}


        <div class="largeur-totale txt-center ib">
            <button class="btn-iconflat" type="submit" value="Enregistrer">
                <table class="tab-buttons shadow back-questions">
                    <td>
                        <div class="lightgrey">Enregistrer</div>
                    </td>
                    <td>
                        <img src="{{ asset('images/save-file-option.png')}}" alt="Enregistrer" height="19">
                    </td>
                </table>
            </button>
        </div>


    </form>

</div>

{% endblock %}



{% block right %}


    <div class="ib largeur-un-quart txt-center">
        {#<div class="script-questionnaire-image-box">#}



            {#<img src="{{ asset('images/chatting-silhouettes.png')}}" alt="Script">#}

        {#<div>#}
            {#<h3 class="ib hand script-questions">Les questions</h3>#}
        {#</div>#}

    {#</div>#}



    <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">

        <div class="ib script-questionnaire-voixoff-box shadow">
            <div class="ib">
                <img src="{{ asset('images/microphone.png')}}" alt="Script" height="30">
            </div>
            <div>
                <h3 class="ib hand petite">Ecrire la voix-off -></h3>
            </div>
            <div class="ib txtround2 fine">
                <h4 class="script-voixoff">2</h4>
            </div>
        </div>
    </a>


</div>
{% endblock %}
