{% extends 'layout.html.twig' %}

{% block content %}

    <div style="width: 100%; text-align: center">
        <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="100"><h4 style="color: #34495e">Script</h4>
    </div>


    <h6>Afin d'écrire votre script, répondez aux questions suivantes :</h6>


    <form  method="post" action="{{ path('script_reponses_new',{'id':app.user.id, 'projet': projet.id,'script': projet.script})}}">



        {% for question in questions %}

            <div class="form-group">
                <label for="{{ question.id }}">{{ question.question }}</label><br>
                <textarea rows="4" class="form-control" name="{{ question.id }}"></textarea>


            </div>
            <br>

        {%  endfor %}



    <table style="width: 100%;">
        <td style="width: 49%; text-align: left;">
            <div style="width: 100px; text-align: center;">
                <a href="{{ path('projet_index', { 'id': app.user.id })  }}">
                    <img class="imgflat" src="{{ asset('images/back.png')}}" alt="Retour" height="70"><h4 style="color: #d97077">Retour</h4></a>
            </div>

        </td>
        <td style="width: 49%; text-align: right;">
            <button class="btn-iconflat" type="submit" value="Continuer">
                <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Continuer le script" height="70"><h4 style="color: #34495e">Continuer le script</h4>
            </button>
        </td>

    </table>

    </form>





{% endblock %}
