{% extends 'layout.html.twig' %}

 {% block ariane %}

     <div class="ariane grey">
         <div class="ib sub-txt-small fine grey">Projet en cours : </div><div class="ib fine lightgrey bord-droit"> {{ projet.nomProjet }}</div>

         <a href="{{ path('projet_index', {'id':app.user.id}) }}">
             <div class="ib fine">PROJETS</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
             <div class="ib fine petite">Paramètres</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <a href="{{ path('script_orientation', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine">SCRIPT</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Guide</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Voix-Off</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Ecriture</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <div class="ib fine">STORYBOARD</div>
         <div class="ib fine">></div>
         <div class="ib fine petite">Ecriture</div>

     </div>

 {% endblock %}



{% block left %}


<div class="largeur-totale txt-center">




    <table class="title-tab">
        <td class="padding-ten"><h3>Pour écrire votre script, vous souhaitez :</h3></td>
    </table>

   <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">

        <div class="ib largeur-un-quart script-orientation-box1 shadow">
            <div class="ib imground">

                    <img src="{{ asset('images/list.png')}}" alt="Script">
            </div>
                     <div>
                <h3 class="ib hand">Répondre aux questions</h3>
            </div>
            <div class="ib txtround1 fine">
          <h4 class="script-questions">1</h4>
        </div>
        </div>
    </a>


 <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">

     <div class="ib largeur-un-quart script-orientation-box2 shadow">
        <div class="ib imground">
            <img src="{{ asset('images/microphone.png')}}" alt="Script" >
        </div>
         <div>
            <h3 class="ib hand">Ecrire la voix-off</h3>
        </div>
        <div class="ib txtround2 fine">
          <h4 class="script-voixoff">2</h4>
        </div>
       </div>
            </a>


<a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
    <div class="ib largeur-un-quart script-orientation-box3 shadow">
           <div class="ib imground">
                 <img src="{{ asset('images/pencil.png')}}" alt="Retour">
            </div>
            <div>
                 <h3 class="ib hand">Ecrire le script</h3>
            </div>
            <div class="ib txtround3 fine">
          <h4 class="script">3</h4>
        </div>
    </div>
</a>
</div>

{% endblock %}



