

{% extends 'layout.html.twig' %}

{% block contentlarge %}





<form>

    <table class="title-tab">
        <td class="padding-ten"><h3>Rédigez le texte de la voix-off</h3></td>
    </table>


        <div class="largeur-totale">
            <label for="voixoffglobal"></label>
            <textarea placeholder="Rédigez votre voix-off..." rows="17" class="form-control" name="voixoff">{{ script.voixoffGlobal }}</textarea>
        </div>



<div class="padding-ten">

    {% set timing = script.count/2.5 %}
    {%  set minround = timing/60 %}
    {%  set min = minround|round(0, 'floor') %}
    {%  set sec = timing%60 %}

    <div class="ib">
        <div class="ib padding-ten sub-txt-big">{{ script.count }}</div>
        <div class="ib sub-txt-small bord-droit">mots</div>
    </div>
    <div class="ib">
        <div class="ib sub-txt-small">Durée estimée :</div>
        <div class="ib sub-txt-big">{{ min }}</div>
        <div class="ib sub-txt-small">min</div>
        <div class="ib sub-txt-big">{{ sec }}</div>
        <div class="ib sub-txt-small bord-droit">sec</div>
    </div>

    <div class="ib">
        <button class="btn-iconflat" type="submit" value="Enregistrer" formmethod="post" formaction="{{ path('script_voixoff_edit',{'id':app.user.id, 'projet': projet.id,'script': script.id})}}">
            <div class="ib enregistrer script">Mettre à jour</div>
            <img class="imgflat" src="{{ asset('images/update-arrows.png')}}" alt="Mettre à jour" height="19">
            <div class="ib enregistrer script">Enregistrer</div>
            <img class="imgflat" src="{{ asset('images/big-diskette.png')}}" alt="Enregistrer" height="19">
        </button>
    </div>


</div>



    </form>
        <hr>








        <div class="largeur-totale txt-center ib padding-ten">

            <div class="ib largeur-half">
                <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': script.id}) }}">
                    <div class="ib enregistrer script">Questionnaire</div></a>
                    <img class="imgflat" src="{{ asset('images/guide.png')}}" alt="Retour" height="35">
            </div>

            <div class="ib largeur-half">
                <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': script.id}) }}">
                    <div class="ib enregistrer script">Ecrire le script</div></a>
                    <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Retour" height="35">
            </div>

        </div>











{% endblock %}


{% block asideright %}

    <h3 class="ib bord-droit script">Vos réponses :</h3>
{% for key,reponse in reponses %}



    <div class="id sub-txt-small reponses">
              {{ reponse.question.question }}

    </div>



    <div class="id enregistrer reponses">
        {% if reponse.reponse %}{{ reponse.reponse }}
        {% else %} Vous n'avez pas répondu
        {% endif %}
    </div>


{% endfor %}

{% endblock %}


{% block aside %}




    <div class="largeur-totale txt-center">
        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Script" height="50"><h4 style="color: #ff5419">Projet</h4>
    </div>




    <div class="largeur-totale left-menu">
        <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
            <img class="imgflat" src="{{ asset('images/parameters.png')}}" alt="Voix-off" height="30">
            <div class="ib title-txt-petit projet">Paramètres</div>
        </a>
    </div>

    <div class="largeur-totale txt-center padding-ten">

        <div class="title-tab">
        </div>
    </div>




    <div class="largeur-totale txt-center">
        <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="50"><h4 style="color: #34495e">Script</h4>
    </div>

    <div class="largeur-totale left-menu">
        <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}">
            <img class="imgflat" src="{{ asset('images/guide.png')}}" alt="Questionnaire" height="30">
            <div class="ib title-txt-petit script">Questionnaire</div>
        </a>
    </div>

    <div class="largeur-totale left-menu actuel">
        <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}">
            <img class="imgflat" src="{{ asset('images/voixoff1.png')}}" alt="Voix-off" height="30">
            <div class="ib title-txt-petit script">Voix-off</div>
        </a>
    </div>

    <div class="largeur-totale left-menu">
        <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': script.id}) }}">
            <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Script" height="30">
            <div class="ib title-txt-petit script">Script</div>
        </a>
    </div>





    <div class="largeur-totale txt-center padding-ten">

        <br>
        <div class="title-tab">
        </div>
    </div>

{% endblock %}
