

{% extends 'layout.html.twig' %}


 {% block ariane %}

     <div class="ariane grey">
         <a href="{{ path('projet_index', {'id':app.user.id}) }}">
             <div class="ib fine">PROJETS</div>
         </a>
         <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
             <div class="ib fine petite">Paramètres</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <a href="{{ path('script_orientation', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine">SCRIPT</div>
         </a>
         <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Guide</div>
         </a>
         <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Voix-Off</div>
         </a>
         <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Ecriture</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <div class="ib fine">STORYBOARD</div>
         <div class="ib fine petite">Ecriture</div>

     </div>

 {% endblock %}


{% block left %}




<div class="ib largeur-trois-quarts-voixoff">


<form>

    <table class="title-tab">
        <td class="padding-ten"><h3>Rédigez le texte de la voix-off</h3></td>
    </table>


        <div class="largeur-totale">
            <label for="voixoffglobal"></label>
            <textarea placeholder="Rédigez votre voix-off..." rows="22" class="questionnaire" name="voixoff">{{ script.voixoffGlobal }}</textarea>
        </div>



<div class="grey">

    {% set timing = script.count/2.5 %}
    {%  set minround = timing/60 %}
    {%  set min = minround|round(0, 'floor') %}
    {%  set sec = timing%60 %}

    <div class="ib">
        <div class="ib sub-txt-big">{{ script.count }}</div>
        <div class="ib sub-txt-small bord-droit">mots</div>
    </div>
    <div class="ib">
        <div class="ib sub-txt-small">Durée estimée :</div>
        <div class="ib sub-txt-big">{{ min }}</div>
        <div class="ib sub-txt-small">min</div>
        <div class="ib sub-txt-big">{{ sec }}</div>
        <div class="ib sub-txt-small bord-droit">sec</div>
    </div>

    <div class="ib">
        <button class="btn-iconflat" type="submit" value="Enregistrer" formmethod="post" formaction="{{ path('script_voixoff_edit',{'id':app.user.id, 'projet': projet.id,'script': script.id})}}">
            <div class="ib enregistrer script">Mettre à jour</div>
            <img class="bord-droit" src="{{ asset('images/update-arrows.png')}}" alt="Mettre à jour" height="19">
            <div class="ib enregistrer script">Enregistrer</div>
            <img src="{{ asset('images/big-diskette.png')}}" alt="Enregistrer" height="19">
        </button>
    </div>

</div>




    </form>




            <div class="ib largeur-un-quart script-box1">
                <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
                    <div class="ib imground">

                        <img src="{{ asset('images/chatting-silhouettes.png')}}" alt="Script">
                    </div>
                    <div>
                        <h3 class="ib hand">Répondre aux questions</h3>
                    </div>


                </a>
             </div>

            <div class="ib largeur-un-quart script-box3">
                <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">

                    <div class="ib imground">
                        <img src="{{ asset('images/school-pencil.png')}}" alt="Retour">
                    </div>
                    <div>
                        <h3 class="ib hand">Ecrire le script</h3>
                    </div>

                </a>
            </div>

    </div>








{% endblock %}


{% block right %}
<div class="ib largeur-un-quart-voixoff">

    <h3 class="ib bord-droit script">Vos réponses :</h3>
{% for key,reponse in reponses %}



    <div class="id sub-txt-small grey">
              {{ reponse.question.question }}

    </div>



    <div class="id sub-txt-small script-questions">
        {% if reponse.reponse %}{{ reponse.reponse }}
        {% else %} Vous n'avez pas répondu
        {% endif %}
    </div>


{% endfor %}
    </div>
{% endblock %}


