{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scriptreponses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reponse</th>
                <th>Script</th>
                <th>Question</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scriptReponse in scriptReponses %}
            <tr>
                <td><a href="{{ path('scriptreponse_show', { 'id': scriptReponse.id }) }}">{{ scriptReponse.id }}</a></td>
                <td>{{ scriptReponse.reponse }}</td>
                <td>{{ scriptReponse.script }}</td>
                <td>{{ scriptReponse.question }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('scriptreponse_show', { 'id': scriptReponse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('scriptreponse_edit', { 'id': scriptReponse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('scriptreponse_new') }}">Create a new scriptReponse</a>
        </li>
    </ul>
{% endblock %}
