{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scriptreponse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scriptReponse.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ scriptReponse.reponse }}</td>
            </tr>
            <tr>
                <th>Script</th>
                <td>{{ scriptReponse.script }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ scriptReponse.question }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('scriptreponse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('scriptreponse_edit', { 'id': scriptReponse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
