{% extends 'layout.html.twig' %}

{% block contentlarge %}

    {#Pour chaque réponse au questionnaire du script#}

            {% for key,ecriture in ecritures %}

                {#<div style="width: 100%;">#}


                <table style="width: 100%; font-weight: bold; color: #34495e; border-bottom: solid 1px #dddddd; margin-bottom: 10px">
                    <td style="padding: 10px;"><h3>Ligne de script n° {{ key + 1 }}</h3></td>
                </table>

        {#On affiche le formulaire d'édition#}
        <form  method="post" action="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet.id, 'script': script.id, 'ecriture': ecriture.id })}}">

            {#On renvoie l'id de la réponse en caché#}
            <input type="hidden" name="0" value="{{ ecriture.id }}">

                <div style="width: 100%;">
                    <div style="width: 49%; display: inline-block">
                        <div style="width: 100%; color: #34495e; font-size: 17px; text-align: center">Voix-off</div>
                        <div style="width: 100%; padding: 10px; ">
                            <label for="voixoff{{ ecriture.id }}"></label>
                            <textarea style="width: 100%; margin-top: -30px;" class="form-control" placeholder="Saisissez la voixoff ici..." rows="8" name="1" >{% if ecriture.voixoff %}{{ ecriture.voixoff }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div style="width: 49%; display: inline-block">
                        <div style="width: 100%; color: #34495e; font-size: 17px; text-align: center">Description</div>
                        <div style="width: 100%; padding: 10px;">
                            <label for="description{{ ecriture.id }}"></label>
                            <textarea style="width: 100%; margin-top: -30px;" class="form-control" placeholder="Saisissez la description ici..." rows="8" name="2" >{% if ecriture.description %}{{ ecriture.description }}{% endif %}</textarea>
                        </div>
                    </div>

                </div>
                            {% set timing = ecriture.count/2.5 %}
                            {%  set minround = timing/60 %}
                            {%  set min = minround|round(0, 'floor') %}
                            {%  set sec = timing%60 %}

                        <div style="display: inline-block; font-size: 16px; color: #919191; padding-left: 20px; padding-right: 5px;">{{ ecriture.count }}</div>
                        <div style="display: inline-block; font-size: 13px; color: #919191; padding-right: 20px; margin-right: 20px ;border-right: solid 1px #dddddd;">mots</div>

                        <div style="display: inline-block; font-size: 16px; color: #919191; padding-right: 5px;">{{ min }}</div>
                        <div style="display: inline-block; font-size: 13px; color: #919191; padding-right: 5px;">min</div>
                        <div style="display: inline-block; font-size: 16px; color: #919191; padding-right: 5px;">{{ sec }}</div>
                        <div style="display: inline-block; font-size: 13px; color: #919191; padding-right: 20px; margin-right: 20px ; border-right: solid 1px #dddddd;">sec</div>


                        <div style="display: inline-block; font-size: 13px; color: #919191; padding: 10px;">Forcer la durée :</div>

                            <input style="display: inline-block; width: 70px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="3" value="{% if ecriture.tempsForceMin %}{{ ecriture.tempsForceMin }}{% endif %}">
                        <div style="display: inline-block; font-size: 14px; color: #919191;padding-right: 5px;"> min</div>

                            <input style="display: inline-block; width: 70px;padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="4" value="{% if ecriture.tempsForceSec %}{{ ecriture.tempsForceSec }}{% endif %}">
                        <div style="display: inline-block; font-size: 14px; color: #919191; padding-right: 20px; margin-right: 20px ; border-right: solid 1px #dddddd;"> sec</div>








                    <div style="display: inline-block">

                        <div style="display: inline-block">
                            <button class="btn-iconflat" type="submit" value="Enregistrer">
                                    <img class="imgflat" src="{{ asset('images/big-diskette.png')}}" alt="Enregistrer" height="28">
                            </button>
                        </div>
                        <div style="display: inline-block">
                            <h4 style="color: #34495e">Enregistrer</h4>
                        </div>

                    </div>



            <div style="width: 100%; margin:50px; border-bottom: solid 1px #dddddd;"></div>





        </form>



        {% endfor %}
                        {#<tr>#}
                        {#<td colspan="2" style="text-align: center">#}
                            <a href="{{ path('scriptecriture_new', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
                                <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Enregistrer" height="40"><h4 style="color: #34495e">Ajouter un nouvelle ligne de script</h4></a>


                        {#</td>#}

                             {#</tr>#}

                    {#</tbody>#}


                {#</table>#}

        {#</div>#}
        <br>





    <br>
    <hr>


<div>

    <table style="width: 100%;">
        <td style="width: 49%; text-align: center;">

            <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id})  }}">
                <img class="imgflat" src="{{ asset('images/back.png')}}" alt="Retour" height="70"><h4 style="color: #d97077">Retour</h4></a>


        </td>
        <td style="width: 49%; text-align: center;">

                <a href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
                    <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Enregistrer" height="70"><h4 style="color: #34495e">Continuer</h4></a>

            {#{% endif %}#}
        </td>

    </table>

</div>





{% endblock %}




{% block aside %}





    {% set min = 0 %}
    {% set sec = 0 %}

    {#Vérification si les résponses sont saisies, si oui la validation passe à 1 sinon elle reste à 0#}
    {% for key,ecriture in ecritures %}

        {% set sec = sec + ecriture.tempsForceSec %}
        {% if sec > 59 %}
            {% set min = min +1 %}
            {% set sec = 0 %}
        {% endif %}
        {% set min = min + ecriture.tempsForceMin %}

    {% endfor %}


    <div style="width: 100%; margin-left: 15px; text-align: center">


        <div style="width: 100%; text-align: center">
            <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="100"><h3 style="color: #34495e">Script</h3>
        </div>
        <br>
        <br>
        <br>

        <table style="width: 85%">
            <thead>
            <tr>
                <th style="width: 20%;"></th>
                <th style="text-align: center" colspan="4">Durée totale :</th>
                <th style="width: 20%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td><h1>{{ min }}</h1></td>
                <td><h5> min</h5></td>
                <td><h1>{{ sec }}</h1></td>
                <td><h5> sec</h5></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>



    <tr>
        <td rowspan="3" width="50"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}"><img class="imgflat" src="{{ asset('images/guide.png')}}" alt="Retour aux questions" height="40"></a></td>
        <td rowspan="3" width="100"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}"><h5 style="color: #34495e">Questions</h5></a></td>
    </tr>

{% endblock %}

{% block asideright %}

    <h3>Vos réponses :</h3>
    {% for key,reponse in reponses %}



        <div style="display: inline-block; font-size: 14px; color: #919191; padding: 10px; border-right: solid 1px #dddddd; margin: 10px;">
            <span>{{ reponse.question.question }}</span>
        </div>


        <div style="display:inline-block; font-size: 14px; color: #34495e; padding: 10px;">
            <span>{{ reponse.reponse }}</span>
        </div>


        {% endfor %}



    <h3>Votre voix-off :</h3>

    {% set text = script.voixoffGlobal|split('\n') %}
    {% for paragraph in text %}
    <p>{{ paragraph }}</p>
    {% endfor %}

{% endblock %}