{% extends 'layout.html.twig' %}

{% block contentlarge %}


    {% set mintotal = 0 %}
    {% set sectotal = 0 %}



    <div class="largeur-totale script-footer">
        <a target="_blank" class="ib icontop" href="{{ path('script_print', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
            <img src="{{ asset('images/print.png')}}" alt="Imprimer" height="25">

        </a>
        <a class="ib icontop" href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
            <img src="{{ asset('images/envelope.png')}}" alt="Mail" height="25">

        </a>
    </div>



    {#Pour chaque réponse au questionnaire du script#}
    <form>


            {% for key,ecriture in ecritures %}

                {#<div style="width: 100%;">#}


                <table class="title-tab">
                    <td class="padding-ten script"><h3>Ligne de script n° {{ key + 1 }}</h3></td>
                </table>

        {#On affiche le formulaire d'édition#}

            {#On renvoie l'id de la réponse en caché#}
            <input type="hidden" name="{{ ecriture.id }}" value="idecriture{{ ecriture.id }}">

                <div class="largeur-totale">
                    <div class="largeur-half ib">
                        <div class="largeur-totale title-txt-petit script">Voix-off</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="voixoff{{ ecriture.id }}"></label>
                            <textarea class="txtarea form-control" placeholder="Saisissez la voixoff ici..." rows="8" name="vo{{ ecriture.id }}" >{% if ecriture.voixoff %}{{ ecriture.voixoff }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="largeur-half ib">
                        <div class="largeur-totale title-txt-petit script">Description</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="description{{ ecriture.id }}"></label>
                            <textarea class="txtarea form-control" placeholder="Saisissez la description ici..." rows="8" name="desc{{ ecriture.id }}" >{% if ecriture.description %}{{ ecriture.description }}{% endif %}</textarea>
                        </div>
                    </div>

                </div>

                <div>
                    {% set timing = ecriture.count/2.5 %}
                    {%  set minround = timing/60 %}
                    {%  set min = minround|round(0, 'floor') %}
                    {%  set sec = timing%60 %}
                    <div class="ib">
                        <div class="ib padding-ten sub-txt-big">{{ ecriture.count }}</div>
                        <div class="ib sub-txt-small bord-droit">mots</div>
                    </div>
                    <div class="ib">
                        <div class="ib sub-txt-small">Durée estimée :</div>
                        <div class="ib sub-txt-big">{{ min }}</div>
                        <div class="ib sub-txt-small">min</div>
                        <div class="ib sub-txt-big">{{ sec }}</div>
                        <div class="ib sub-txt-small bord-droit">sec</div>
                    </div>
                        <div class="ib">
                        <div class="ib sub-txt-small">Forcer la durée :</div>
                            <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="min{{ ecriture.id }}" value="{% if ecriture.tempsForceMin %}{{ ecriture.tempsForceMin }}{% endif %}">
                        <div class="ib sub-txt-small"> min</div>
                            <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="sec{{ ecriture.id }}" value="{% if ecriture.tempsForceSec %}{{ ecriture.tempsForceSec }}{% endif %}">
                        <div class="ib sub-txt-small bord-droit"> sec</div>
                    </div>

                    {% if ecriture.tempsForceMin or ecriture.tempsForceSec %}
                        {% set mintotal = mintotal + ecriture.tempsForceMin %}
                        {% set sectotal = sectotal + ecriture.tempsForceSec %}
                        {% if sectotal > 59 %}
                            {% set mintotal = mintotal +1 %}
                            {% set sectotal = sectotal - 60 %}
                        {% endif %}
                    {% else %}
                        {% set mintotal = mintotal + min %}
                        {% set sectotal = sectotal + sec %}
                        {% if sectotal > 59 %}
                            {% set mintotal = mintotal +1 %}
                            {% set sectotal = sectotal - 60 %}
                        {% endif %}
                    {% endif %}


                    <div class="ib">
                        <div class="ib sub-txt-small">Durée depuis le début :</div>
                        <div class="ib sub-txt-big">{{ mintotal }}</div>
                        <div class="ib sub-txt-small">min</div>
                        <div class="ib sub-txt-big">{{ sectotal }}</div>
                        <div class="ib sub-txt-small bord-droit">sec</div>
                    </div>

                    <div class="ib">
                        <button class="btn-iconflat" type="submit" value="Enregistrer" formmethod="post" formaction="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}">
                            <div class="ib enregistrer script">Mettre à jour</div>
                            <img src="{{ asset('images/update-arrows.png')}}" alt="Mettre à jour" height="19">
                        </button>
                        <a href="{{ path('scriptecriture_delete', {'id':app.user.id, 'projet': projet.id, 'script': script.id, 'scriptEcriture': ecriture.id}) }}">
                            <div class="ib enregistrer script">Supprimer</div>
                            <img src="{{ asset('images/delete.png')}}" alt="Supprimer la ligne de script" height="19"></a>

                    </div>
                </div>

            <div class="title-tab"></div>
<br>




        {% endfor %}

        <div class="largeur-totale txt-center ib">

            <div class="ib">
                <button class="btn-iconflat" type="submit" formmethod="post" formaction="{{ path('scriptecriture_new',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}" value="Enregistrer">
                    <img class="imgflat" src="{{ asset('images/add-plus-button.png')}}" alt="Ajouter une ligne de script" height="14">
                    <div class="ib enregistrer script">Ajouter une ligne de script</div>
                    <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Ajouter une ligne de script" height="35">
                </button>
            </div>

        </div>



    </form>
        <br>




<div class="largeur-totale script-footer">
    <a target="_blank" class="ib icontop" href="{{ path('script_print', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
                <img src="{{ asset('images/print.png')}}" alt="Enregistrer" height="30">

    </a>
    <a class="ib icontop" href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
        <img src="{{ asset('images/envelope.png')}}" alt="Enregistrer" height="30">

    </a>
</div>





{% endblock %}




{% block aside %}



    <div class="largeur-totale txt-center">
        <img class="imgflat" src="{{ asset('images/file.png')}}" alt="Script" height="50"><h4 style="color: #ff5419">Projet</h4>
    </div>




    <div class="largeur-totale left-menu">
        <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
            <img class="imgflat" src="{{ asset('images/parameters.png')}}" alt="Voix-off" height="30">
            <div class="ib title-txt-petit projet">Paramètres du projet</div>
        </a>
    </div>

    <div class="largeur-totale txt-center padding-ten">

        <div class="title-tab">
        </div>
    </div>




        <div class="largeur-totale txt-center">
             <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="50"><h4 style="color: #34495e">Script</h4>
        </div>

    <div class="largeur-totale left-menu">
           <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}">
           <img class="imgflat" src="{{ asset('images/guide.png')}}" alt="Questionnaire" height="30">
                <div class="ib title-txt-petit script">Questionnaire</div>
            </a>
       </div>

        <div class="largeur-totale left-menu">
           <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}">
                <img class="imgflat" src="{{ asset('images/voixoff1.png')}}" alt="Voix-off" height="30">
                <div class="ib title-txt-petit script">Voix-off</div>
            </a>
       </div>

    <div class="largeur-totale left-menu actuel">
        <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': script.id}) }}">
            <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Script" height="30">
            <div class="ib title-txt-petit script">Script</div>
        </a>
    </div>





    <div class="largeur-totale txt-center padding-ten">

        <br>
        <div class="title-tab">
        </div>
    </div>

{% endblock %}

{% block asideright %}


    <h3 class="ib bord-droit">Vos réponses :</h3>
    {% for key,reponse in reponses %}



        <div class="id sub-txt-small reponses">
            {{ reponse.question.question }}
        </div>



        <div class="id enregistrer reponses">
            {{ reponse.reponse }}
        </div>


        {% endfor %}

    <div class="title-tab"></div>


    <h3 class="ib bord-droit">Votre voix-off :</h3>


    {% set timing = script.count/2.5 %}
    {%  set minround = timing/60 %}
    {%  set minvo = minround|round(0, 'floor') %}
    {%  set secvo = timing%60 %}

    <div class="ib sub-txt-big">{{ minvo }}</div>
    <div class="ib sub-txt-small">min</div>
    <div class="ib sub-txt-big">{{ secvo }}</div>
    <div class="ib sub-txt-small">sec</div>


    {% set text = script.voixoffGlobal|split('\n') %}
    {% for paragraph in text %}
    <p>{{ paragraph }}</p>
    {% endfor %}

{% endblock %}