{% extends 'layout.html.twig' %}

{% block contentlarge %}


    {% set mintotal = 0 %}
    {% set sectotal = 0 %}

    {#Pour chaque réponse au questionnaire du script#}
    <form>


            {% for key,ecriture in ecritures %}

                {#<div style="width: 100%;">#}


                <table class="title-tab">
                    <td class="padding-ten"><h3>Ligne de script n° {{ key + 1 }}</h3></td>
                </table>

        {#On affiche le formulaire d'édition#}

            {#On renvoie l'id de la réponse en caché#}
            <input type="hidden" name="{{ ecriture.id }}" value="idecriture{{ ecriture.id }}">

                <div class="largeur-totale">
                    <div class="largeur-half ib">
                        <div class="largeur-totale title-txt-petit">Voix-off</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="voixoff{{ ecriture.id }}"></label>
                            <textarea class="txtarea form-control" placeholder="Saisissez la voixoff ici..." rows="8" name="vo{{ ecriture.id }}" >{% if ecriture.voixoff %}{{ ecriture.voixoff }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="largeur-half ib">
                        <div class="largeur-totale title-txt-petit">Description</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="description{{ ecriture.id }}"></label>
                            <textarea class="txtarea form-control" placeholder="Saisissez la description ici..." rows="8" name="desc{{ ecriture.id }}" >{% if ecriture.description %}{{ ecriture.description }}{% endif %}</textarea>
                        </div>
                    </div>

                </div>

                {% set timing = ecriture.count/2.5 %}
                {%  set minround = timing/60 %}
                {%  set min = minround|round(0, 'floor') %}
                {%  set sec = timing%60 %}
                <div class="ib">
                    <div class="ib padding-ten sub-txt-big">{{ ecriture.count }}</div>
                    <div class="ib sub-txt-small bord-droit">mots</div>
                </div>
                <div class="ib">
                    <div class="ib sub-txt-small">Durée estimée :</div>
                    <div class="ib sub-txt-big">{{ min }}</div>
                    <div class="ib sub-txt-small">min</div>
                    <div class="ib sub-txt-big">{{ sec }}</div>
                    <div class="ib sub-txt-small bord-droit">sec</div>
                </div>
                    <div class="ib">
                    <div class="ib sub-txt-small">Forcer la durée :</div>
                        <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="min{{ ecriture.id }}" value="{% if ecriture.tempsForceMin %}{{ ecriture.tempsForceMin }}{% endif %}">
                    <div class="ib sub-txt-small"> min</div>
                        <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="sec{{ ecriture.id }}" value="{% if ecriture.tempsForceSec %}{{ ecriture.tempsForceSec }}{% endif %}">
                    <div class="ib sub-txt-small bord-droit"> sec</div>
                </div>

                {% if ecriture.tempsForceMin and ecriture.tempsForceSec %}
                    {% set mintotal = mintotal + ecriture.tempsForceMin %}
                    {% set sectotal = sectotal + ecriture.tempsForceSec %}
                    {% if sectotal > 59 %}
                        {% set mintotal = mintotal +1 %}
                        {% set sectotal = sectotal - 60 %}
                    {% endif %}
                {% else %}
                    {% set mintotal = mintotal + min %}
                    {% set sectotal = sectotal + sec %}
                    {% if sectotal > 59 %}
                        {% set mintotal = mintotal +1 %}
                        {% set sectotal = sectotal - 60 %}
                    {% endif %}
                {% endif %}


                <div class="ib">
                    <div class="ib sub-txt-small">Durée depuis le début :</div>
                    <div class="ib sub-txt-big">{{ mintotal }}</div>
                    <div class="ib sub-txt-small">min</div>
                    <div class="ib sub-txt-big">{{ sectotal }}</div>
                    <div class="ib sub-txt-small bord-droit">sec</div>
                </div>

                <div class="ib">
                    <div class="ib enregistrer">Mettre à jour</div>
                    <button class="btn-iconflat" type="submit" value="Enregistrer" formmethod="post" formaction="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}">
                        <img src="{{ asset('images/update-arrows.png')}}" alt="Enregistrer" height="18">
                    </button>
                </div>








            <div class="title-tab"></div>





        {% endfor %}

        <div class="ib">

            <div class="ib">
                <button class="btn-iconflat" type="submit" formmethod="post" formaction="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}" value="Enregistrer">
                    <img class="imgflat" src="{{ asset('images/big-diskette.png')}}" alt="Enregistrer" height="28">
                </button>
            </div>
            <div class="ib">
                <button class="btn-iconflat" type="submit" formmethod="post" formaction="{{ path('scriptecriture_new',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}" value="Enregistrer">
                    <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Enregistrer" height="28">
                </button>
            </div>

        </div>



    </form>
                            {#<a href="{{ path('scriptecriture_new', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">#}
                                {#<img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Enregistrer" height="40"><h4 style="color: #34495e">Ajouter un nouvelle ligne de script</h4></a>#}


                        {#</td>#}

                             {#</tr>#}

                    {#</tbody>#}


                {#</table>#}

        {#</div>#}
        <br>





    <br>
    <hr>


<div>

    <table style="width: 100%;">
        <td style="width: 49%; text-align: center;">

            <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id})  }}">
                <img class="imgflat" src="{{ asset('images/back.png')}}" alt="Retour" height="70"><h4 style="color: #d97077">Retour</h4></a>


        </td>
        <td style="width: 49%; text-align: center;">

                <a href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
                    <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Enregistrer" height="70"><h4 style="color: #34495e">Continuer</h4></a>

            {#{% endif %}#}
        </td>

    </table>

</div>





{% endblock %}




{% block aside %}






    <div style="width: 100%; margin-left: 15px; text-align: center">


        <div style="width: 100%; text-align: center">
            <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="100"><h3 style="color: #34495e">Script</h3>
        </div>
        <br>
        <br>
        <br>



    </div>



    <tr>
        <td rowspan="3" width="50"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}"><img class="imgflat" src="{{ asset('images/guide.png')}}" alt="Retour aux questions" height="40"></a></td>
        <td rowspan="3" width="100"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id, 'script' : script.id}) }}"><h5 style="color: #34495e">Questions</h5></a></td>
    </tr>

{% endblock %}

{% block asideright %}

    <h3>Vos réponses :</h3>
    {% for key,reponse in reponses %}



        <div style="display: inline-block; font-size: 14px; color: #919191; padding: 10px; border-right: solid 1px #dddddd; margin: 10px;">
            <span>{{ reponse.question.question }}</span>
        </div>


        <div style="display:inline-block; font-size: 14px; color: #34495e; padding: 10px;">
            <span>{{ reponse.reponse }}</span>
        </div>


        {% endfor %}



    <h3>Votre voix-off :</h3>

    {% set text = script.voixoffGlobal|split('\n') %}
    {% for paragraph in text %}
    <p>{{ paragraph }}</p>
    {% endfor %}

{% endblock %}