{% extends 'layout.html.twig' %}


 {% block ariane %}

     <div class="ariane grey">
         <div class="ib sub-txt-small fine grey">Projet en cours : </div><div class="ib fine lightgrey bord-droit"> {{ projet.nomProjet }}</div>

         <a href="{{ path('projet_index', {'id':app.user.id}) }}">
             <div class="ib fine">PROJETS</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('projet_edit', {'id':app.user.id, 'projet': projet.id, 'script' : script.id }) }}">
             <div class="ib fine petite">Paramètres</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <a href="{{ path('script_orientation', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine">SCRIPT</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Guide</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('script_voixoff', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Voix-Off</div>
         </a>
         <div class="ib fine">></div>
         <a href="{{ path('scriptecriture_index', {'id':app.user.id, 'projet': projet.id,'script': projet.script.id}) }}">
             <div class="ib fine petite">Ecriture</div>
         </a>
         <div class="ib padding-ten fine">></div>
         <div class="ib fine">STORYBOARD</div>
         <div class="ib fine">></div>
         <div class="ib fine petite">Ecriture</div>

     </div>

 {% endblock %}


{% block left %}



    {% set mintotal = 0 %}
    {% set sectotal = 0 %}



<table>

    <td style="width:65%; vertical-align: top; background-color: #e4e8e9;">

        <div class="padding-ten">

    <div class="largeur-totale script-footer">
        <a target="_blank" class="ib icontop" href="{{ path('script_print', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
            <img src="{{ asset('images/print.png')}}" alt="Imprimer" height="25">

        </a>
        <a class="ib icontop" href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
            <img src="{{ asset('images/envelope.png')}}" alt="Mail" height="25">

        </a>
    </div>



    {#Pour chaque réponse au questionnaire du script#}
    <form>


            {% for key,ecriture in ecritures %}

                {#<div style="width: 100%;">#}

                <div style="background-color: white";>
                <table class="title-tab">
                    <td class="padding-ten script"><h3>Ligne de script n° {{ key + 1 }}</h3></td>
                </table>

        {#On affiche le formulaire d'édition#}

            {#On renvoie l'id de la réponse en caché#}
            <input type="hidden" name="{{ ecriture.id }}" value="idecriture{{ ecriture.id }}">

                <div class="largeur-totale">
                    <div class="largeur-half-form-script ib txt-center">
                        <div class="largeur-totale title-txt-petit script">Voix-off</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="voixoff{{ ecriture.id }}"></label>
                            <textarea class="txtarea-form-script" placeholder="Saisissez la voixoff ici..." rows="10" name="vo{{ ecriture.id }}" >{% if ecriture.voixoff %}{{ ecriture.voixoff }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="largeur-half-form-script ib txt-center">
                        <div class="largeur-totale title-txt-petit script">Description</div>
                        <div class="largeur-totale padding-ten" >
                            <label for="description{{ ecriture.id }}"></label>
                            <textarea class="txtarea-form-script" placeholder="Saisissez la description ici..." rows="10" name="desc{{ ecriture.id }}" >{% if ecriture.description %}{{ ecriture.description }}{% endif %}</textarea>
                        </div>
                    </div>

                </div>

                <div class="sub-form-script">
                    {% set timing = ecriture.count/2.5 %}
                    {%  set minround = timing/60 %}
                    {%  set min = minround|round(0, 'floor') %}
                    {%  set sec = timing%60 %}
                    <div class="ib">
                        <div class="ib padding-ten sub-txt-big">{{ ecriture.count }}</div>
                        <div class="ib sub-txt-small bord-droit">mots</div>
                    </div>
                    <div class="ib">
                        <div class="ib sub-txt-small">Durée estimée :</div>
                        <div class="ib sub-txt-big">{{ min }}</div>
                        <div class="ib sub-txt-small">min</div>
                        <div class="ib sub-txt-big">{{ sec }}</div>
                        <div class="ib sub-txt-small bord-droit">sec</div>
                    </div>
                        <div class="ib">
                        <div class="ib sub-txt-small">Forcer la durée :</div>
                            <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="min{{ ecriture.id }}" value="{% if ecriture.tempsForceMin %}{{ ecriture.tempsForceMin }}{% endif %}">
                        <div class="ib sub-txt-small"> min</div>
                            <input style="display: inline-block; width: 50px; padding-right: 5px;" placeholder="00" type="number" min="0" max="59" step="1" class="form-control" name="sec{{ ecriture.id }}" value="{% if ecriture.tempsForceSec %}{{ ecriture.tempsForceSec }}{% endif %}">
                        <div class="ib sub-txt-small bord-droit"> sec</div>
                    </div>

                    {% if ecriture.tempsForceMin or ecriture.tempsForceSec %}
                        {% set mintotal = mintotal + ecriture.tempsForceMin %}
                        {% set sectotal = sectotal + ecriture.tempsForceSec %}
                        {% if sectotal > 59 %}
                            {% set mintotal = mintotal +1 %}
                            {% set sectotal = sectotal - 60 %}
                        {% endif %}
                    {% else %}
                        {% set mintotal = mintotal + min %}
                        {% set sectotal = sectotal + sec %}
                        {% if sectotal > 59 %}
                            {% set mintotal = mintotal +1 %}
                            {% set sectotal = sectotal - 60 %}
                        {% endif %}
                    {% endif %}


                    <div class="ib">
                        <div class="ib sub-txt-small">Durée depuis le début :</div>
                        <div class="ib sub-txt-big">{{ mintotal }}</div>
                        <div class="ib sub-txt-small">min</div>
                        <div class="ib sub-txt-big">{{ sectotal }}</div>
                        <div class="ib sub-txt-small bord-droit">sec</div>
                    </div>

                    <div class="ib">
                        <button class="btn-iconflat" type="submit" value="Enregistrer" formmethod="post" formaction="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}">
                            <table class="ib tab-buttons-petit shadow back-script">
                                <td>
                                    <div class="lightgrey">Mettre à jour</div>
                                </td>
                                <td>
                                    <img src="{{ asset('images/refresh-button.png')}}" alt="Enregistrer" height="19">
                                </td>
                            </table>
                        </button>

                        <a href="{{ path('scriptecriture_delete', {'id':app.user.id, 'projet': projet.id, 'script': script.id, 'scriptEcriture': ecriture.id}) }}">


                                    <div class="script ib" style="font-size: 0.8em">Supprimer</div>

                                    <img src="{{ asset('images/delete.png')}}" alt="Enregistrer" height="13">


                        </a>
                    </div>
                </div>

            <div class="title-tab"></div>



</div>
                <br>
        {% endfor %}

        <div class="largeur-totale txt-center ib">

            <div class="ib">
                <button class="btn-iconflat" type="submit" formmethod="post" formaction="{{ path('scriptecriture_new',{'id':app.user.id, 'projet': projet.id, 'script': script.id})}}" value="Enregistrer">
                    <img class="imgflat" src="{{ asset('images/add-plus-button.png')}}" alt="Ajouter une ligne de script" height="14">
                    <h2 class="ib script">Ajouter une ligne de script</h2>
                    <img class="imgflat" src="{{ asset('images/pen-plume.png')}}" alt="Ajouter une ligne de script" height="35">
                </button>
            </div>

        </div>



    </form>
        <br>




<div class="largeur-totale script-footer">
    <a target="_blank" class="ib icontop" href="{{ path('script_print', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
                <img src="{{ asset('images/print.png')}}" alt="Enregistrer" height="30">

    </a>
    <a class="ib icontop" href="{{ path('script_valid', {'id':app.user.id, 'projet': projet.id, 'script': script.id}) }}">
        <img src="{{ asset('images/envelope.png')}}" alt="Enregistrer" height="30">

    </a>
</div>
        </div>


    </td>
<td style="vertical-align: top; padding-right: 3%">


<div class="largeur-totale padding-ten">

    <h3 class="ib bord-droit script">Vos réponses :</h3>
    {% for key,reponse in reponses %}



        <div class="id sub-txt-small grey">
            {{ reponse.question.question }}
        </div>



        <div class="id sub-txt-small script">
            {{ reponse.reponse }}
        </div>

        <br>

        {% endfor %}

    <div class="title-tab"></div>



    <h3 class="ib bord-droit script">Votre voix-off :</h3>


    {% set timing = script.count/2.5 %}
    {%  set minround = timing/60 %}
    {%  set minvo = minround|round(0, 'floor') %}
    {%  set secvo = timing%60 %}

    <div class="ib sub-txt-big grey">{{ script.count }}</div>
    <div class="ib sub-txt-small grey bord-droit">mots</div>

    <div class="ib sub-txt-big grey">{{ minvo }}</div>
    <div class="ib sub-txt-small grey">min</div>
    <div class="ib sub-txt-big grey">{{ secvo }}</div>
    <div class="ib sub-txt-small grey">sec</div>


    {% set text = script.voixoffGlobal|split('\n') %}
    {% for paragraph in text %}
    <p class="sub-txt-small script">{{ paragraph }}</p>
    {% endfor %}

</div>
</td>

</table>

{% endblock %}