{% extends 'layout.html.twig' %}

{% block contentlarge %}


<div style="width: 100%; text-align: center">
    <img class="imgflat" src="{{ asset('images/pen.png')}}" alt="Script" height="100"><h4 style="color: #34495e">Script</h4>
</div>


{#{{ dump(reponses) }}#}
{#{{ dump(ecritures) }}#}


    {#Pour chaque réponse au questionnaire du script #}
    {% for key, reponse in reponses %}
            {#Si il y a déjà une saisie dans le script#}
            {% if ecritures %}
                {#Pour chaque saisie on compare l'id de la réponse#}
                {% for scriptecriture in ecritures %}
                    {#Si l'id de la réponse correspond#}
                    {% if scriptecriture.scriptReponse.id == reponse.id %}
    {#On affiche le formulaire d'édition#}
    <form  method="post" action="{{ path('scriptecriture_edit',{'id':app.user.id, 'projet': projet, 'script': script, 'ecriture': scriptecriture.id })}}">
                    {% endif %}
                {% endfor %}
            {% else %}
    {#Sinon on affiche le formulaire de création#}
    <form  method="post" action="{{ path('scriptecriture_new',{'id':app.user.id, 'projet': projet,'script': script })}}">
            {% endif %}
        {#On renvoie l'id de la réponse en caché#}
        <input type="hidden" name="0" value="{{ reponse.id }}">

    <table style="width: 100%; color: #34495e; border-bottom: solid 1px #34495e; font-weight: bold">
        <td>Ligne de script n° {{ key + 1 }}</td>
    </table>
    <table class="table table-striped">

        <thead>
            <th>A la question :</th>
            <th>Vous avez répondu :</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <td>{{ reponse.question.question }}</td>
            <td>{{ reponse.reponse }}</td>
            <td width="80"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet,}) }}"><img class="imgflat" src="{{ asset('images/back.png')}}" alt="Retour" height="40"></a></td>
            <td width="100"><a href="{{ path('script_questions', {'id':app.user.id, 'projet': projet,}) }}"><h5 style="color: #d97077">Retour aux questions</h5></a></td>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <th>Saisissez la voix-off :</th>
            <th>Saisissez la description :</th>
            <th colspan="2">Temps voulu :</th>
        </thead>

        <tbody>
        <tr>
            {#Si une saisie est existante on affiche les infos#}
            <td rowspan="2"><label for="voixoff{{ reponse.id }}"></label>
                <textarea  rows="8" class="form-control" name="1" >{% if ecritures %}{% for scriptecriture in ecritures %}{% if scriptecriture.scriptReponse.id == reponse.id %}{{ scriptecriture.voixoff }}{% endif %}{% endfor %}{% endif %}</textarea></td>
            <td rowspan="2"><label for="description{{ reponse.id }}"></label>
                <textarea  rows="8" class="form-control" name="2" >{% if ecritures %}{% for scriptecriture in ecritures %}{% if scriptecriture.scriptReponse.id == reponse.id %}{{ scriptecriture.description }}{% endif %}{% endfor %}{% endif %}</textarea></td>
            <td width="100"><label for="timeMin{{ reponse.id }}">Min : </label><br>
                <input type="number" min="0" max="59" step="1" class="form-control" name="3" value="{% if ecritures %}{% for scriptecriture in ecritures %}{% if scriptecriture.scriptReponse.id == reponse.id %}{{ scriptecriture.tempsForceMin }}{% endif %}{% endfor %}{% endif %}"></td>
            <td width="100"><label for="timeSec{{ reponse.id }}">Sec :</label><br>
                <input type="number" min="0" max="59" step="1" class="form-control" name="4" value="{% if ecritures %}{% for scriptecriture in ecritures %}{% if scriptecriture.scriptReponse.id == reponse.id %}{{ scriptecriture.tempsForceSec }}{% endif %}{% endfor %}{% endif %}"></td>

        </tr>
        <tr>
             <td colspan="2" style="text-align: center">
                 <button class="btn-iconflat" type="submit" value="Enregistrer">
                     <img class="imgflat" src="{{ asset('images/save.png')}}" alt="Enregistrer" height="40"><h5 style="color: #ff8e31">Enregistrer</h5></button>
             </td>

        </tr>

        </tbody>


    </table>



        </form>

        <br>

        {% endfor %}
<hr>

        <input class="btn btn-primary" type="submit" value="Valider le script" />

        <br>

{% endblock %}
