{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Types d'utilisation</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Type proposés :</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for utilisation in utilisations %}
            <tr>
                <td>{{ utilisation.utilisationType }}</td>
                <td><a class="btn-modifier" href="{{ path('utilisation_edit', { 'id': utilisation.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a class="btn-delete"  href="{{ path('utilisation_delete', { 'id': utilisation.id }) }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('utilisation_new') }}">Nouveau</a>

            <a class="btn btn-default" href="{{ path('admin_index') }}">Retour</a>

{% endblock %}
