{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Utilisations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisationtype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisation in utilisations %}
            <tr>
                <td><a href="{{ path('utilisation_show', { 'id': utilisation.id }) }}">{{ utilisation.id }}</a></td>
                <td>{{ utilisation.utilisationType }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisation_show', { 'id': utilisation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisation_edit', { 'id': utilisation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisation_new') }}">Create a new utilisation</a>
        </li>
    </ul>
{% endblock %}
