{% trans_default_domain 'FOSUserBundle' %}

<div>
    <dl class="dl-horizontal">
        <dt>Nom d'utilisateur</dt>
        <dd>{{ user.username }}</dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>Nom</dt>
        <dd>{{ user.nom }}</dd>
        <dt>Prénom</dt>
        <dd>{{ user.prenom }}</dd>
        <dt>Société</dt>
        <dd>{{ user.societe }}</dd>
        <dt>Poste</dt>
        <dd>{{ user.poste }}</dd>
        <dt>Téléphone</dt>
        <dd>{{ user.telephone }}</dd>
        <dt>E-mail</dt>
        <dd>{{ user.email }}</dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>Expert métier</dt>
        <dd>{% if user.userExpert == 1 %} Oui {% else %} Non {% endif %}</dd>
        <dt>Comédien audio</dt>
        <dd>{% if user.userVoix == 1 %} Oui {% else %} Non {% endif %}</dd>
        <dt>Dessinateur</dt>
        <dd>{% if user.userContributeur == 1 %} Oui {% else %} Non {% endif %}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Membre depuis le</dt>
        <dd>{{ user.dateCreation|date('d-m-Y') }}</dd>
    </dl>
</div>

<div style="text-align: right; width : 210px">
    <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
</div>
